body {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 90vh;
    font-family: Arial, Helvetica, sans-serif;
}

.calculator {
    background-color: black;
    padding: 25px;
    border-radius: 30px;
}

.buttons {
    display: grid;
    grid-template-areas:
    "one two three"
    "four five six"
    "seven eight nine"
    "zero dot clear"
    "addition substraction equal"
    "multiply divide equal";
    min-height: 350px;
    min-width: 230px;
    row-gap: 10px;
    column-gap: 10px;
}

.action {background-color: rgb(253, 129, 84);}
.action:hover {background-color: rgb(255, 158, 122);}
.action:active {background-color: rgb(255, 137, 94);}

.clean {background-color: rgb(155, 155, 155);}
.clean:hover {background-color: rgb(190, 190, 190);}
.clean:active {background-color: rgb(126, 126, 126);}

button {
    border-radius: 20px;
    background-color: rgb(95, 95, 95);
    color: white;
    font-size: 20px;
    border-style: hidden;
}

button:hover {background-color: rgb(126, 126, 126);}
button:active {background-color: rgb(87, 87, 87);}

#result {text-align: right; color: white; font-size: 40px;}
#one {grid-area: one;}
#two {grid-area: two;}
#three {grid-area: three;}
#four {grid-area: four;}
#five {grid-area: five;}
#six {grid-area: six;}
#seven {grid-area: seven;}
#eight {grid-area: eight;}
#nine {grid-area: nine;}
#zero {grid-area: zero;}
#dot {grid-area: dot;}
#clear {grid-area: clear;}
#addition {grid-area: addition;}
#substraction {grid-area: substraction;}
#multiply {grid-area: multiply;}
#divide {grid-area: divide;}
#equal {grid-area: equal;}



