body {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 90vh;
}

.buttons {
    display: grid;
    grid-template-areas:
    "one two three"
    "four five six"
    "seven eight nine"
    "zero dot clear"
    "addition substraction equal"
    "multiply divide equal";
    min-height: 300px;
    min-width: 200px;
    row-gap: 10px;
    column-gap: 10px;
}

#result {text-align: right;}
#one {grid-area: one;}
#two {grid-area: two;}
#three {grid-area: three;}
#four {grid-area: four;}
#five {grid-area: five;}
#six {grid-area: six;}
#seven {grid-area: seven;}
#eight {grid-area: eight;}
#nine {grid-area: nine;}
#zero {grid-area: zero;}
#dot {grid-area: dot;}
#clear {grid-area: clear;}
#addition {grid-area: addition;}
#substraction {grid-area: substraction;}
#multiply {grid-area: multiply;}
#divide {grid-area: divide;}
#equal {grid-area: equal;}

